@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Neon&display=swap');

*
{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

p{
    font-weight: 300;
    color: #111;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: url("deer.jpg");
   background-position: center;
    background-repeat: no-repeat;
    
    background-attachment: scroll;
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: greenyellow;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 20px;
}
.btn:hover
{   
    letter-spacing: 6px;
    transition-duration: 500ms;
    
}
header
{   
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05, green, blue, alpha);
}
header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span
{
    color: greenyellow;
    font-size: 1em;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style-type: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover ,a.active{

    background: greenyellow;
    color: #fff;
}

section
{
    padding: 100px;
}
.row
{
    position: relative ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titletext
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titletext span{
    color: greenyellow;
    
    font-size: 1em;
}

.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
    

}
.row .col50 .imgBx img
{
    position:absolut;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.Menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.Menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;

}
.Menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Menu .content .box .text 
{
    padding: 15px 0 5px;
}
.Menu .content .box .text h3
{
    font-weight: 400;
    color: #111;
}
.animals .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.animals .content .box{
    width: 250px;
    margin: 15px;
}
.animals .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;

}
.animals .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.animals .content .box .text
{
    padding: 15px 0 5px;

}
.animals .content .box .text h3
{
    font-weight: 400;
    color: #111;
}
.funder
{
    background: url(bg2.jpg);
    background-size: cover;
}
.white .titletext ,.white p
{
    color: #fff;
}
.funder .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.funder .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.funder .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom:20px ;
    border-radius:50% ;
    overflow: hidden;
}
.funder .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.funder .content .box .text
{
    text-align: center;
}
.funder .content .box .text p
{
    color: #666;
    font-style: italic ;
}
.funder .content .box .text h3
{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: greenyellow;
    font-weight: 600 ;
}
.contact
{
    background: url(contact.jpg);
    background-size: cover;
    
}
.contactform
{
    padding: 75px 400px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.6);
    width: 100%;
    
    margin-top: 50px;
    background: rgba(red, green, blue, 0.4);
    
}
.contactform h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    

}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}
.contactform .inputbox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: greenyellow;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.copyright
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyright p
{
    color: #333;
}
.copyright a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
@media (max-width: 991px)
{   
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
        padding: 15px;
        

    }
    header .navigation li a {
        
        color: #111;
        font-size: 1.6em;
        
    }
    .menutoggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-size: 30px;
        background-repeat:no-repeat ;
        background-position: center;
        cursor: pointer;
    }
    .menutoggle.active
    {
        background: url(close.png);
        background-size: 25px;
        background-repeat:no-repeat ;
        background-position: center;
    }
    header.sticky .menutoggle
    {
      filter: invert(1);  
    }
    section{
        padding: 20px;
    }
    .banner .content h2 
    {
        font-size: 3em;
        color: #fff;
    }
    
    
    .row
    {
         flex-direction: column;
    }
    .row .col50
    {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }
    .Menu .content
    {
        margin-top: 20px;
    }
    .Menu .content .box
    {
        margin: 10px;
    }
    .Menu .content .box .imgBx
    {
        height: 260px;
    }
    .title
    {
        text-align: center;
    }
    .titletext
    {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .teaster .content .box
    {
        margin: 10px;
        padding: 20px;
    }
    .contactform
    {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    

}
@media (max-width :480px)
{
    .banner .contact h2
    {
        font-size: 2.2em;
        color: #fff;
    }
}
